@import "./variables";

.first_section {
  background: $background;
  margin-top: 100px;
  margin-bottom: 100px;

  .purple_block {
    background: #E8DEF8;
    height: 770px;
    border-radius: 50px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 81%, 0% 100%);

    .first_line {
      margin-left: 730px;
    }

    .second_line {
      margin-left: 685px;
    }

    .third_line {
      margin-top: 580px;
    }

    .fourth_line {
      margin-top: 510px;
    }

    .fifth_line {
      margin-top: 470px;
    }

    @media (max-width: 1399.98px) {
      .first_line {
        margin-left: 550px;
      }
      .second_line {
        margin-left: 510px;
      }
      .third_line {
        margin-top: 580px;
      }
      .fourth_line {
        margin-top: 500px;
      }
      .fifth_line {
        margin-top: 470px;
      }
    }
    @media (max-width: 1199.98px) {
      .first_line {
        margin-left: 370px;
      }
      .second_line {
        margin-left: 330px;
      }
    }
    @media (max-width: 991.98px) {
      .first_line {
        margin-left: 130px;
      }
      .second_line {
        margin-left: 90px;
      }
      .third_line {
        margin-top: 580px;
      }
      .fourth_line {
        margin-top: 490px;
      }
      .fifth_line {
        margin-top: 440px;
      }
    }
    @media (max-width: 767.98px) {
      .first_line {
        margin-left: 0;
      }
      .second_line {
        margin-left: 0;
      }
    }
  }

  .iphone {
    max-width: 100%;
    height: auto;
    margin-top: -650px;
    margin-left: 190px;
  }

  h1 {
    margin-top: -650px;
    margin-left: 100px;
    color: $dark_text;
    font-family: $font;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .colored_line {
    margin-left: 100px;
    width: 46px;
    border: 3px solid $colored_line;
  }

  p {
    margin-top: 30px;
    margin-left: 100px;
    color: $next_text;
    font-family: $font;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  .app_store {
    margin-top: 30px;
    margin-left: 100px;
  }

  .google_play {
    margin-top: 30px;
    margin-left: 10px;
  }

  .left_phone {
    margin-top: -385px;
    margin-left: 60px;
  }

  .right_phone {
    margin-top: -435px;
    margin-left: 330px;
  }

  @media (max-width: 1399.98px) {
    .iphone {
      margin-left: 100px;
    }
    .left_phone {
      margin-left: -30px;
    }
    .right_phone {
      margin-top: -385px;
      margin-left: 10px;
    }
  }
  @media (max-width: 1199.98px) {
    .iphone {
      margin-top: -670px;
      margin-left: 60px;
    }
    h1 {
      margin-left: 50px;
      font-size: 3.3rem;
    }
    .colored_line {
      margin-left: 50px;
    }
    p {
      font-size: 1.4rem;
      margin-left: 50px;
    }
    .app_store {
      margin-left: 50px;
    }
    .left_phone {
      margin-left: -70px;
    }
    .right_phone {
      margin-top: -430px;
      margin-left: 190px;
    }
  }
  @media (max-width: 991.98px) {
    h1 {
      margin-left: 20px;
      font-size: 2.8rem;
    }
    p {
      margin-left: 20px;
      font-size: 1rem;
    }
    .colored_line {
      margin-left: 20px;
    }
    .app_store {
      margin-left: 20px;
    }
    .google_play {
      margin-top: 30px;
      margin-left: 20px;
    }
    .left_phone {
      display: none;
    }
    .right_phone {
      display: none;
    }
    .iphone {
      max-width: 75%;
      margin-left: 70px;
      margin-top: -500x;
    }
  }
  @media (max-width: 767.98px) {
    .iphone {
      max-width: 50%;
      margin-top: -270px;
      margin-left: 240px;
    }
    h1 {
      font-size: 3.5rem;
      margin-top: -750px;

    }
    p {
      font-size: 1.5rem;
    }
    .app_store {
      margin-left: 20px;
    }
  }
  @media (max-width: 575.98px) {
    h1 {
      font-size: 3.2rem;
      margin-left: 5px;
    }
    .colored_line {
      margin-left: 5px;
    }

    p {
      font-size: 1.1rem;
      margin-left: 5px;
    }
    .app_store {
      margin-left: 5px;
    }
    .google_play{
      margin-left: 10px;
    }
    .iphone{
      max-width: 50%;
      margin-left: 140px;
      margin-top: -300px;
    }
  }
}