$background: #FFF;
$footer_background: #423C4E;

$purple: #6750A4;
$purple_hover:#9775f0;
$dark_text: #23153E;
$next_text: #443A5A;
$colored_line: #FF2D55;
$link_block: #B7A9DE;
$font: 'Montserrat', sans-serif;

